---
import type { CollectionEntry } from "astro:content";
import { sortPosts } from "@utils/sortPosts";
import Tags from "@components/blogs/Tags.astro";

export interface Props {
  articles: CollectionEntry<"blogs">[];
  path: string;
}

const { articles, path } = Astro.props;
---

<ul class="article-list">
  {
    articles.sort(sortPosts).map((article) => (
      <li class="article-item">
        <h1 class="text-xl">
          <a href={`/${path}/${article.slug}`}>{article.data.title}</a>
        </h1>
        <p>
          <time datetime={article.data.publishDate.toString()}>
            {article.data.publishDate.toDateString()}
          </time>
        </p>
        <p>{article.data.description}</p>
        <Tags tags={article.data.tags} folder="blogs"/>
      </li>
    ))
  }
</ul>

<style>
  .article-list {
    @apply flex flex-col gap-4 list-none;
  }
  .article-item {
    @apply border-t border-slate-200 pl-2 first-of-type:border-none;
  }
  .article-item a {
    @apply no-underline;
  }

</style>
