---
import Authors from "@components/publications/Authors.astro";
import type { JournalType } from "env";
export type Props = JournalType;
const { authors, title, journal, year,IF } = Astro.props;
---

<>
  <Authors authors={authors} />.
  <span>"{title}</span>",
  <span class="inline-block font-semibold italic">
    {journal}
  </span>
  <span>({year})</span>
  {IF && <spam>, IF={IF}</spam>}.
</>
