---
import DissertationContent from "@components/publications/DissertationContent.astro";
import JournalContent from "@components/publications/JournalContent.astro";
import BookContent from "@components/publications/BookContent.astro";
import type { DissertationType, JournalType, BookType } from "env.d.ts";

interface dissertation {
  publication: DissertationType;
  type: "dissertation";
  index?: number;
}

interface journal {
  publication: JournalType;
  type: "journal";
  index?: number;
}

interface book {
  publication: BookType;
  type: "book";
  index?: number;
}

export type Props = dissertation | journal | book;
const { publication, type, index } = Astro.props;
---

<>
  {
    type === "dissertation" ? (
      <li>
        <DissertationContent
          author={publication.author}
          year={publication.year}
          scholi={publication.scholi}
          title={publication.title}
        />
      </li>
    ) : null
  }

  {
    type === "journal" ? (
      <li>
        <JournalContent
          authors={publication.authors}
          year={publication.year}
          journal={publication.journal}
          title={publication.title}
        />
      </li>
    ) : null
  }

  {
    type === "book" ? (
      <li>
        <BookContent
          authors={publication.authors}
          year={publication.year}
          title={publication.title}
        />
      </li>
    ) : null
  }
</>
