---
import PageLayout from "@layouts/PageLayout.astro";
import cv from "@content/cv.json";
import projects from "@content/projects.json";
import ProjectItem from "@components/projects/ProjectItem.astro";
---

<PageLayout title="">
  <h3>
    <a href={cv.download.url} download> {cv.download.description}</a>
  </h3>
  <div>
    <h2>工作经历</h2>
    <ul>
      {
        cv.jobs.map((job) => (
          <li>
            <span>
              {job.start_date} - {job.end_date},{" "}
            </span>
            <span>{job.name}, </span>
            <span>{job.role} </span>
            <p class="mt-0 mb-0">{job.description}</p>
            <ul class="mt-0">
              {job.achievements.map((achievement) => (
                <li class="mt-0 mb-0">
                  <span>{achievement}</span>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <h2>项目经历</h2>
    <p set:html={cv.project.description} />
    <ul>
      <ProjectItem project={projects.softwares.ocp} />
      <ProjectItem project={projects.softwares.pfsdk} />
    </ul>
  </div>
  <div>
    <h2>基金及科研经历</h2>
    <p class="mb-0" set:html={cv.funding.phd.description} />
    <ul class="mt-0">
      <li class="mt-0 mb-0" set:html={cv.funding.phd.DEFG} />
      <li class="mt-0 mb-0" set:html={cv.funding.phd.DESC} />
    </ul>
    <p set:html={cv.funding.undergrad.description} />
    <div>
      <h2>教育经历</h2>
      <ul>
        {
          cv.education.map((edu) => (
            <li>
              <span>
                {edu.start_date} - {edu.end_date}
              </span>
              <span>{edu.school}, </span>
              <span>{edu.department}, </span>
              <span>{edu.degree}, </span>
              <span>{edu.score_type}: </span>
              <span>{edu.score}</span>
              {edu.ranking && <span>, 排名: {edu.ranking}</span>}
              {edu.advisor && <span>, advised by {edu.advisor}</span>}
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <h2>技能树</h2>
      <h4>语言类</h4>
      <table>
        <tbody>
          {
            cv.languages.map((language) => (
              <tr>
                <td class="w-24 break-words align-top md:w-40" align="right">
                  {language.name}
                </td>
                <td class="align-top">{language.description}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
    <div>
      <h4>软件类</h4>
      <table>
        <tbody>
          {
            cv.softwares.map((software) => (
              <tr>
                <td class="w-24 align-top md:w-40" align="right">
                  {software.name}
                </td>
                <td class="align-top">{software.description}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</PageLayout>
