---
import PageLayout from "@layouts/PageLayout.astro";
import publications from "@content/publications.json";
import AuthorDisclaimer from "@components/publications/AuthorDisclaimer.astro";
import PublicationItem from "@components/publications/PublicationItem.astro";
---

<PageLayout title="">
  <AuthorDisclaimer />
  <div>
    <h2>学位论文</h2>
    <ol>
      {
        publications.dissertation.map((dissertation, index) => (
          <PublicationItem
            type="dissertation"
            publication={dissertation}
            index={index}
          />
        ))
      }
    </ol>
  </div>
  <div>
    <h2>杂志文章</h2>
    <ol>
      {
        publications.journals.map((journal, index) => (
          <PublicationItem type="journal" publication={journal} index={index} />
        ))
      }
    </ol>
  </div>
  <div>
    <h2>出版书籍</h2>
    <ol>
      {
        publications.books.map((book, index) => (
          <PublicationItem type="book" publication={book} index={index} />
        ))
      }
    </ol>
  </div>
</PageLayout>
