---
import PublicationsLayout from "../layouts/PublicationsLayout.astro";
import publications from "../content/publications.json";
import AuthorDisclaimer from "../components/AuthorDisclaimer.astro";
import PublicationItem from "../components/PublicationItem.astro";
---

<PublicationsLayout title="">
  <AuthorDisclaimer />
  <div>
    <h2>学位论文</h2>
    <ul>
      {
        publications.dissertation.map((dissertation, index) => (
          <PublicationItem
            type="dissertation"
            publication={dissertation}
            index={index}
          />
        ))
      }
    </ul>
  </div>
  <div>
    <h2>杂志文章</h2>
    <ul>
      {
        publications.journals.map((journal, index) => (
          <PublicationItem type="journal" publication={journal} index={index} />
        ))
      }
    </ul>
  </div>
  <div>
    <h2>出版书籍</h2>
    <ul>
      {
        publications.books.map((book, index) => (
          <PublicationItem type="book" publication={book} index={index} />
        ))
      }
    </ul>
  </div>
</PublicationsLayout>
