---
import type { CollectionEntry } from "astro:content";

export interface Props {
  articles: CollectionEntry<"blogs">[];
  path: string;
}

const { articles, path } = Astro.props;
---

<ul class="article-list">
  {
    articles.map((article) => (
      <li class="article-item">
        <h1 class="text-xl">
          <a href={`/${path}/${article.slug}`}>{article.data.title}</a>
        </h1>
        <p>
          <time datetime={article.data.publishDate.toString()}>
            {article.data.publishDate.toDateString()}
          </time>
        </p>
        <p>{article.data.description}</p>
        <ul class="article-tags">
          {article.data.tags.map((tag: string) => (
            <li class="tag">{tag}</li>
          ))}
        </ul>
      </li>
    ))
  }
</ul>

<style>
  .article-list {
    @apply flex flex-col gap-6;
  }
  .article-item {
    @apply border-t border-slate-200 pt-6 first-of-type:border-none;
  }
  .article-item a {
    @apply no-underline;
  }

  .article-tags {
    @apply flex gap-2 py-2;
  }

  .article-tags .tag {
    @apply rounded-md bg-slate-100 p-2 py-1 text-sm text-slate-700;
    @apply !py-0.5 transition-all;
  }

  .article-item > * > .wrapper {
    @apply flex items-start gap-4;
  }
</style>
