---
export interface Props {
  project: {
    name: string;
    date: string;
    status: string;
    description: string;
  };
  index?: number;
}
const { project } = Astro.props;
---

{
  Astro.props.index !== undefined ? (
    <ol class="flex mt-0 mb-0">
      <span class="w-8 flex">{Astro.props.index + 1}.</span>
      <div class="flex-1">
        <span>{project.name}</span>， <span>{project.date}</span>，
        <span>{project.status}</span>
        <p class="mt-0">{project.description}</p>
      </div>
    </ol>
  ) : (
    <li>
      <span>{project.name}</span>， <span>{project.date}</span>，
      <span>{project.status}</span>
      <p class="mt-0">{project.description}</p>
    </li>
  )
}
