---
import DissertationContent from "./DissertationContent.astro";
import JournalContent from "./JournalContent.astro";
import BookContent from "./BookContent.astro";
import type { DissertationType, JournalType, BookType } from "./type";

interface dissertation {
  publication: DissertationType;
  type: "dissertation";
  index?: number;
}

interface journal {
  publication: JournalType;
  type: "journal";
  index?: number;
}

interface book {
  publication: BookType;
  type: "book";
  index?: number;
}

export type Props = dissertation | journal | book;
const { publication, type, index } = Astro.props;
---

<>
  {
    type === "dissertation" ? (
      index !== undefined ? (
        <ol class="flex">
          <span class="flex w-8">{index + 1}.</span>
          <div class="flex-1">
            <DissertationContent
              author={publication.author}
              year={publication.year}
              school={publication.school}
              title={publication.title}
            />
          </div>
        </ol>
      ) : (
        <DissertationContent
          author={publication.author}
          year={publication.year}
          school={publication.school}
          title={publication.title}
        />
      )
    ) : null
  }

  {
    type === "journal" ? (
      index !== undefined ? (
        <ol class="flex">
          <span class="flex w-8">{index + 1}.</span>
          <div class="flex-1">
            <JournalContent
              authors={publication.authors}
              year={publication.year}
              journal={publication.journal}
              title={publication.title}
            />
          </div>
        </ol>
      ) : (
        <JournalContent
          authors={publication.authors}
          year={publication.year}
          journal={publication.journal}
          title={publication.title}
        />
      )
    ) : null
  }

  {
    type === "book" ? (
      index !== undefined ? (
        <ol class="flex">
          <span class="flex w-8">{index + 1}.</span>
          <div class="flex-1">
            <BookContent
              authors={publication.authors}
              year={publication.year}
              title={publication.title}
            />
          </div>
        </ol>
      ) : (
        <BookContent
          authors={publication.authors}
          year={publication.year}
          title={publication.title}
        />
      )
    ) : null
  }
</>
